# CSC310 Assignment 3

## Team 5

In [1]:
import pandas as pd
from sklearn import tree
from assets.treeviz import tree_print
from sklearn.metrics import accuracy_score

Tennis Numerical Dataset
----------

In [2]:
df = pd.read_csv('./assets/tennis_numeric.csv')

In [3]:
# show what the data looks like
df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes

In [4]:
# create a dataframe that contains only features
features_df = df.drop('play',axis=1)
features_df.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

In [5]:
# create dataframe that consists of only the target label
target_df = pd.DataFrame(df['play'])
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [6]:
# set up the decision tree model
dtree = tree.DecisionTreeClassifier(criterion='entropy')
dtree.fit(features_df,target_df)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [7]:
# visiualize the decision tree
tree_print(dtree,features_df)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if temperature =< 70.5:
  |  |  |then yes
  |  |  |else no
  |else yes
<------->
Tree Depth:  3

In [8]:
# create a dataframe of the predicted labels
predict = dtree.predict(features_df)
predicted_df = pd.DataFrame(predict)
predicted_df.columns = ['play']

In [9]:
predicted_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [10]:
target_df.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

In [11]:
# check to see if the predicted model equals to the target model
predicted_df.equals(target_df)

True

In [12]:
# print the accuary of the predicted model
print(f"The tennis_numeric model accuracy is {accuracy_score(target_df,predicted_df)}")

The tennis_numeric model accuracy is 1.0

# Epilepsy Attack Dataset from R Dataset

- link to docs of data set => https://vincentarelbundock.github.io/Rdatasets/doc/robustbase/epilepsy.html

In [3]:
epilepsy_df = pd.read_csv('./assets/epilepsy.csv')

In [4]:
epilepsy_df.head()

   Unnamed: 0   ID  Y1  Y2  Y3  Y4  Base  Age      Trt  Ysum  Age10  Base4
0           1  104   5   3   3   3    11   31  placebo    14    3.1   2.75
1           2  106   3   5   3   3    11   30  placebo    14    3.0   2.75
2           3  107   2   4   0   5     6   25  placebo    11    2.5   1.50
3           4  114   4   4   1   4     8   36  placebo    13    3.6   2.00
4           5  116   7  18   9  21    66   22  placebo    55    2.2  16.50

In [5]:
# drop unnamed: 0 are just the numberd data row
epilepsy_df = epilepsy_df.drop('Unnamed: 0', axis=1)

In [6]:
epilepsy_feature = epilepsy_df.drop('Trt',axis=1)

Feature data consists of:
------------------
- ID: patients id number
- Y1: # of epilepsy attack during first follow up period
- Y2: attack during second follow up
- Y3: attack during third
- Y4: attack during fourth
- Base: # of epileptic attack recorded during 8 week period prior to randomization
- Ysum: total epileptic attack during all four follow up periods
- Age10: Age of patients divided by 10
- Base4: Variable base divided by four

In [8]:
epilepsy_feature.head()

    ID  Y1  Y2  Y3  Y4  Base  Age  Ysum  Age10  Base4
0  104   5   3   3   3    11   31    14    3.1   2.75
1  106   3   5   3   3    11   30    14    3.0   2.75
2  107   2   4   0   5     6   25    11    2.5   1.50
3  114   4   4   1   4     8   36    13    3.6   2.00
4  116   7  18   9  21    66   22    55    2.2  16.50

Target data is:
----------------
- Trt: Treatment is either placebo (control group) or progabide (treatment group).

In [7]:
epilepsy_target = pd.DataFrame(epilepsy_df['Trt'])

In [9]:
epilepsy_target.head()

       Trt
0  placebo
1  placebo
2  placebo
3  placebo
4  placebo

In [10]:
epilepsy_dtree = tree.DecisionTreeClassifier(criterion='entropy')
epilepsy_dtree.fit(epilepsy_feature,epilepsy_target)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [11]:
tree_print(epilepsy_dtree,epilepsy_feature)

if Y1 =< 1.5:
  |then if Y2 =< 0.5:
  |  |then if ID =< 221.0:
  |  |  |then placebo
  |  |  |else progabide
  |  |else progabide
  |else if ID =< 214.5:
  |  |then if Age10 =< 2.149999976158142:
  |  |  |then progabide
  |  |  |else if Ysum =< 10.5:
  |  |  |  |then progabide
  |  |  |  |else if Y4 =< 2.5:
  |  |  |  |  |then placebo
  |  |  |  |  |else if Base4 =< 12.0:
  |  |  |  |  |  |then if Y2 =< 9.5:
  |  |  |  |  |  |  |then if Base4 =< 2.25:
  |  |  |  |  |  |  |  |then placebo
  |  |  |  |  |  |  |  |else if Y3 =< 2.5:
  |  |  |  |  |  |  |  |  |then progabide
  |  |  |  |  |  |  |  |  |else if Base4 =< 8.875:
  |  |  |  |  |  |  |  |  |  |then if Age10 =< 3.299999952316284:
  |  |  |  |  |  |  |  |  |  |  |then placebo
  |  |  |  |  |  |  |  |  |  |  |else if Age =< 36.0:
  |  |  |  |  |  |  |  |  |  |  |  |then progabide
  |  |  |  |  |  |  |  |  |  |  |  |else placebo
  |  |  |  |  |  |  |  |  |  |else if Y1 =< 7.5:
  |  |  |  |  |  |  |  |  |  |  |then placebo
  |  |  |  |  |  |  |  |  |  |  |else progabide
  |  |  |  |  |  |  |else progabide
  |  |  |  |  |  |else if Base =< 131.0:
  |  |  |  |  |  |  |then placebo
  |  |  |  |  |  |  |else progabide
  |  |else if Y4 =< 3.5:
  |  |  |then if Y2 =< 2.0:
  |  |  |  |then placebo
  |  |  |  |else progabide
  |  |  |else placebo
<---------------------------------->
Tree Depth:  12

In [15]:
epilepsy_predict = epilepsy_dtree.predict(epilepsy_feature)
epilepsy_predicted = pd.DataFrame(epilepsy_predict)
epilepsy_predicted.columns = ['Trt']

In [16]:
epilepsy_predicted.head()

       Trt
0  placebo
1  placebo
2  placebo
3  placebo
4  placebo

In [17]:
epilepsy_target.head()

       Trt
0  placebo
1  placebo
2  placebo
3  placebo
4  placebo

In [18]:
epilepsy_predicted.equals(epilepsy_target)

True

In [19]:
print(f"The epilepsy model accuracy is {accuracy_score(epilepsy_target,epilepsy_predicted)}")

The epilepsy model accuracy is 1.0